  <div class="description"><%= process_text(params[:photo][:description], 'Textile') %></div>
  <div class="text clear"><%= process_text(params[:photo][:text], 'Textile') %></div>
  <div class="clear">&#160;</div>
  